= form_for @season do |f|
  - if @season.errors.any?
    #error_explanation
      %h2= "#{pluralize(@season.errors.count, "error")} prohibited this season from being saved:"
      %ul
        - @season.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :sequence
    = f.number_field :sequence
  .field
    = f.label :tv_show
    = f.select :tv_show_id, TvShow.all.collect {|show| [ show.title, show.id ]}
  .actions
    = f.submit 'Save'
